::-webkit-input-placeholder {
    text-align: center;
}

.-cb {
    clear: both;
}

.bg-attach-fix {
    background-attachment: fixed
}

.bg-attach-scroll {
    background-attachment: scroll
}

.bg-attach-local {
    background-attachment: local
}

.bg-clip-bd {
    background-clip: border-box
}

.bg-clip-pd {
    background-clip: padding-box
}

.bg-clip-ct {
    background-clip: content-box;
}

.bg-pos-center {
    background-position: center;
}

.bg-pos-bottom {
    background-position: bottom;
}

.bg-pos-top {
    background-position: top;
}

.bg-pos-left {
    background-position: left;
}

.bg-pos-right {
    background-position: right;
}

.bg-repeat-nore {
    background-repeat: no-repeat;
}

.bg-repeat-re {
    background-repeat: repeat;
}

.bg-repeat-x {
    background-repeat: repeat-x;
}

.bg-repeat-y {
    background-repeat: repeat-y;
}

.bg-repeat-round {
    background-repeat: round;
}

.bg-repeat-space {
    background-repeat: space;
}

.bd-l-w-1 {
    border-left-width: 1px;
}

.bd-l-w-2 {
    border-left-width: 2px;
}

.bd-l-w-3 {
    border-left-width: 3px;
}

.bd-l-w-4 {
    border-left-width: 4px;
}

.bd-l-w-5 {
    border-left-width: 5px;
}

.bd-l-w-6 {
    border-left-width: 6px;
}

.bd-l-w-7 {
    border-left-width: 7px;
}

.bd-l-w-8 {
    border-left-width: 8px;
}

.bd-l-w-9 {
    border-left-width: 9px;
}

.bd-l-w-10 {
    border-left-width: 10px;
}

.bd-l-s-solid {
    border-left-style: solid
}

.bd-l-s-dotted {
    border-left-style: dotted
}

.bd-l-s-dashed {
    border-left-style: dashed
}

.bd-l-s-double {
    border-left-style: double
}

.bd-l-s-groove {
    border-left-style: groove
}

.bd-l-s-hidden {
    border-left-style: hidden
}

.bd-l-s-inherit {
    border-left-style: inherit
}

.bd-l-s-outset {
    border-left-style: outset
}

.bd-l-s-ridge {
    border-left-style: ridge
}

.bd-l-s-none {
    border-left-style: none
}

.bd-all-r-3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.bd-all-r-4px {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bd-all-r-5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bd-all-r-6px {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.bd-all-r-7px {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.bd-all-r-8px {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.bd-all-r-9px {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.bd-all-r-10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bd-all-r-half {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.bd-all-r-25-50 {
    -webkit-border-radius: 25% 25%/ 50% 50%;
    -moz-border-radius: 25% 25%/ 50% 50%;
    border-radius: 25% 25%/ 50% 50%;
}

.bd-r-s-solid {
    border-right-style: solid
}

.bd-r-s-dotted {
    border-right-style: dotted
}

.bd-r-s-dashed {
    border-right-style: dashed
}

.bd-r-s-double {
    border-right-style: double
}

.bd-r-s-groove {
    border-right-style: groove
}

.bd-r-s-hidden {
    border-right-style: hidden
}

.bd-r-s-inherit {
    border-right-style: inherit
}

.bd-r-s-outset {
    border-right-style: outset
}

.bd-r-s-ridge {
    border-right-style: ridge
}

.bd-r-s-none {
    border-right-style: none
}

.bd-r-w-1 {
    border-right-width: 1px;
}

.bd-r-w-2 {
    border-right-width: 2px;
}

.bd-r-w-3 {
    border-right-width: 3px;
}

.bd-r-w-4 {
    border-right-width: 4px;
}

.bd-r-w-5 {
    border-right-width: 5px;
}

.bd-r-w-6 {
    border-right-width: 6px;
}

.bd-r-w-7 {
    border-right-width: 7px;
}

.bd-r-w-8 {
    border-right-width: 8px;
}

.bd-r-w-9 {
    border-right-width: 9px;
}

.bd-r-w-10 {
    border-right-width: 10px;
}

.bd-t-s-solid {
    border-top-style: solid
}

.bd-t-s-dotted {
    border-top-style: dotted
}

.bd-t-s-dashed {
    border-top-style: dashed
}

.bd-t-s-double {
    border-top-style: double
}

.bd-t-s-groove {
    border-top-style: groove
}

.bd-t-s-hidden {
    border-top-style: hidden
}

.bd-t-s-inherit {
    border-top-style: inherit
}

.bd-t-s-outset {
    border-top-style: outset
}

.bd-t-s-ridge {
    border-top-style: ridge
}

.bd-t-s-none {
    border-top-style: none
}

.bd-t-w-1 {
    border-top-width: 1px;
}

.bd-t-w-2 {
    border-top-width: 2px;
}

.bd-t-w-3 {
    border-top-width: 3px;
}

.bd-t-w-4 {
    border-top-width: 4px;
}

.bd-t-w-5 {
    border-top-width: 5px;
}

.bd-t-w-6 {
    border-top-width: 6px;
}

.bd-t-w-7 {
    border-top-width: 7px;
}

.bd-t-w-8 {
    border-top-width: 8px;
}

.bd-t-w-9 {
    border-top-width: 9px;
}

.bd-t-w-10 {
    border-top-width: 10px;
}

.bd-all-s-solid {
    border-style: solid
}

.bd-all-s-dotted {
    border-style: dotted
}

.bd-all-s-dashed {
    border-style: dashed
}

.bd-all-s-double {
    border-style: double
}

.bd-all-s-groove {
    border-style: groove
}

.bd-all-s-hidden {
    border-style: hidden
}

.bd-all-s-inherit {
    border-style: inherit
}

.bd-all-s-outset {
    border-style: outset
}

.bd-all-s-ridge {
    border-style: ridge
}

.bd-all-s-none {
    border-style: none
}

.bd-all-outline {
    outline: none
}

.bd-all-w-1 {
    border-width: 1px;
}

.bd-all-w-2 {
    border-width: 2px;
}

.bd-all-w-3 {
    border-width: 3px;
}

.bd-all-w-4 {
    border-width: 4px;
}

.bd-all-w-5 {
    border-width: 5px;
}

.bd-all-w-6 {
    border-width: 6px;
}

.bd-all-w-7 {
    border-width: 7px;
}

.bd-all-w-8 {
    border-width: 8px;
}

.bd-all-w-9 {
    border-width: 9px;
}

.bd-all-w-10 {
    border-width: 10px;
}

.bd-b-s-solid {
    border-bottom-style: solid
}

.bd-b-s-dotted {
    border-bottom-style: dotted
}

.bd-b-s-dashed {
    border-bottom-style: dashed
}

.bd-b-s-double {
    border-bottom-style: double
}

.bd-b-s-groove {
    border-bottom-style: groove
}

.bd-b-s-hidden {
    border-bottom-style: hidden
}

.bd-b-s-inherit {
    border-bottom-style: inherit
}

.bd-b-s-outset {
    border-bottom-style: outset
}

.bd-b-s-ridge {
    border-bottom-style: ridge
}

.bd-b-s-none {
    border-bottom-style: none
}

.bd-b-w-1 {
    border-bottom-width: 1px;
}

.bd-b-w-2 {
    border-bottom-width: 2px;
}

.bd-b-w-3 {
    border-bottom-width: 3px;
}

.bd-b-w-4 {
    border-bottom-width: 4px;
}

.bd-b-w-5 {
    border-bottom-width: 5px;
}

.bd-b-w-6 {
    border-bottom-width: 6px;
}

.bd-b-w-7 {
    border-bottom-width: 7px;
}

.bd-b-w-8 {
    border-bottom-width: 8px;
}

.bd-b-w-9 {
    border-bottom-width: 9px;
}

.bd-b-w-10 {
    border-bottom-width: 10px;
}

.bd-trigon {
    border: 10px solid transparent;
}

.bd-t-c {
    border-top-color: #000000
}

.cursor-hand {
    cursor: hand;
}

.cursor-help {
    cursor: help;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-cross {
    cursor: crosshair;
}

.cursor-cell {
    cursor: cell
}

.cursor-copy {
    cursor: copy
}

.cursor-alias {
    cursor: alias
}

.filter-contrast-50 {
    filter: contrast(50%);
}

.filter-contrast-100 {
    filter: contrast(100%);
}

.filter-contrast-150 {
    filter: contrast(150%);
}

.filter-contrast-200 {
    filter: contrast(200%);
}

.filter-shadow {
    -webkit-filter: drop-shadow(8px 8px 10px #ECF0F1); /* Chrome, Safari, Opera */
    filter: drop-shadow(8px 8px 10px #ECF0F1);
}

.filter-opacity-25 {
    filter: opacity(25%);
}

.filter-opacity-50 {
    filter: opacity(50%);
}

.filter-opacity-75 {
    filter: opacity(75%);
}

.filter-opacity-100 {
    filter: opacity(100%);
}

.filter-blur-2 {
    filter: blur(2px);
}

.filter-blur-5 {
    filter: blur(5px);
}

.filter-blur-9 {
    filter: blur(9px);
}

.filter-blur-12 {
    filter: blur(12px);
}

.filter-bright-50 {
    filter: brightness(50%);
}

.filter-bright-100 {
    filter: brightness(100%);
}

.filter-bright-150 {
    filter: brightness(150%);
}

.filter-bright-200 {
    filter: brightness(200%);
}

.font-weight-lig {
    font-weight: lighter
}

.font-weight-bold {
    font-weight: bold
}

.font-weight-bolder {
    font-weight: bolder
}

.font-family-song {
    font-family: "宋体"
}

.font-family-kai {
    font-family: "楷体"
}

.font-family-hei {
    font-family: "黑体"
}

.font-family-wei {
    font-family: "微软雅黑"
}

.-i {
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-size-0_4 {
    font-size: .4rem
}

.font-size-0_45 {
    font-size: .45rem
}

.font-size-0_5 {
    font-size: .5rem
}

.font-size-0_55 {
    font-size: .55rem
}

.font-size-0_6 {
    font-size: .6rem
}

.font-size-0_65 {
    font-size: .65rem
}

.font-size-0_7 {
    font-size: .7rem
}

.font-size-0_75 {
    font-size: .75rem
}

.font-size-0_8 {
    font-size: .8rem
}

.font-size-1 {
    font-size: 1rem
}

.font-size-1_2 {
    font-size: 1.2rem
}

.font-size-1_5 {
    font-size: 1.5rem
}

.font-size-2 {
    font-size: 2rem
}

.font-size-2_5 {
    font-size: 2.5rem
}

.font-size-4 {
    font-size: 4rem
}

.font-size-6 {
    font-size: 6rem
}

.font-style-nor {
    font-style: normal
}

.font-style-ita {
    font-style: italic
}

.font-style-obl {
    font-style: oblique
}

.line-hg-px-1 {
    line-height: 1px
}

.line-hg-px-2 {
    line-height: 2px
}

.line-hg-px-3 {
    line-height: 3px
}

.line-hg-px-4 {
    line-height: 4px
}

.line-hg-px-5 {
    line-height: 5px
}

.line-hg-px-6 {
    line-height: 6px
}

.line-hg-px-7 {
    line-height: 7px
}

.line-hg-px-8 {
    line-height: 8px
}

.line-hg-px-9 {
    line-height: 9px
}

.line-hg-px-10 {
    line-height: 10px
}

.line-hg-px-15 {
    line-height: 15px
}

.line-hg-px-20 {
    line-height: 20px
}

.line-hg-px-25 {
    line-height: 15px
}

.line-hg-px-30 {
    line-height: 30px
}

.line-hg-px-36 {
    line-height: 35px
}

.line-hg-px-40 {
    line-height: 40px
}

.line-hg-px-45 {
    line-height: 45px
}

.line-hg-r-1 {
    line-height: 1rem
}

.line-hg-r-2 {
    line-height: 2rem
}

.line-hg-r-3 {
    line-height: 3rem
}

.line-hg-r-4 {
    line-height: 4rem
}

.line-hg-r-5 {
    line-height: 5rem
}

.line-hg-r-6 {
    line-height: 6rem
}

.line-hg-r-7 {
    line-height: 7rem
}

.line-hg-r-8 {
    line-height: 8rem
}

.line-hg-r-9 {
    line-height: 9rem
}

.line-hg-r-10 {
    line-height: 10rem
}

.line-hg-r-11 {
    line-height: 11rem
}

.li-sty-position-outside {
    list-style-position: outside
}

.li-sty-position-inside {
    list-style-position: inside
}

.li-sty-type-no {
    list-style-type: none;
}

.li-sty-type-cri {
    list-style-type: circle;
}

.li-sty-type-disc {
    list-style-type: disc;
}

.li-sty-type-square {
    list-style-type: square
}

.li-sty-type-decimal {
    list-style-type: decimal
}

.li-sty-type-zero {
    list-style-type: decimal-leading-zero
}

.li-sty-type-lr {
    list-style-type: lower-roman
}

.li-sty-type-ur {
    list-style-type: upper-roman
}

.li-sty-type-la {
    list-style-type: lower-alpha
}

.li-sty-type-ua {
    list-style-type: upper-alpha
}

.vert-center{
    top: 50%;
    transform: translate(0%, -50%);
}
.hos-center{
    left: 50%;
    transform: translate(-50%, 0%);
}

.-c {
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
}

.-fc {
    content: '';
    display: table;
    clear: both;
}

.-vc {
    top: 50%;
    transform: translate(0%, -50%);
}

.-h {
    left: 50%;
    transform: translate(-50%, 0%);
}

.tx-align-start {
    text-align: start
}

.tx-align-center {
    text-align: center
}

.tx-align-end {
    text-align: end
}

.tx-align-left {
    text-align: left
}

.tx-align-right {
    text-align: right
}

.tx-align-justify {
    text-align: justify
}

.fl-left {
    float: left
}

.fl-right {
    float: right
}

.fl-clear {
    clear: both
}

.pst-bottom-1p {
    bottom: 1%
}

.pst-bottom-2p {
    bottom: 2%
}

.pst-bottom-3p {
    bottom: 3%
}

.pst-bottom-4p {
    bottom: 4%
}

.pst-bottom-5p {
    bottom: 5%
}

.pst-bottom-6p {
    bottom: 6%
}

.pst-bottom-7p {
    bottom: 7%
}

.pst-bottom-8p {
    bottom: 8%
}

.pst-bottom-9p {
    bottom: 9%
}

.pst-bottom-10p {
    bottom: 10%
}

.pst-bottom-15p {
    bottom: 15%
}

.pst-bottom-20p {
    bottom: 20%
}

.pst-bottom-25p {
    bottom: 25%
}

.pst-bottom-30p {
    bottom: 30%
}

.pst-bottom-35p {
    bottom: 35%
}

.pst-bottom-40p {
    bottom: 40%
}

.pst-bottom-45p {
    bottom: 45%
}

.pst-bottom-50p {
    bottom: 50%
}

.pst-bottom-55p {
    bottom: 55%
}

.pst-bottom-60p {
    bottom: 60%
}

.pst-bottom-65p {
    bottom: 65%
}

.pst-bottom-70p {
    bottom: 70%
}

.pst-bottom-75p {
    bottom: 75%
}

.pst-bottom-80p {
    bottom: 80%
}

.pst-bottom-85p {
    bottom: 85%
}

.pst-bottom-90p {
    bottom: 90%
}

.pst-bottom-95p {
    bottom: 95%
}

.pst-bottom-100p {
    bottom: 100%
}

.pst-left-0 {
    left: 0
}

.pst-left-1p {
    left: 1%
}

.pst-left-2p {
    left: 2%
}

.pst-left-3p {
    left: 3%
}

.pst-left-4p {
    left: 4%
}

.pst-left-5p {
    left: 5%
}

.pst-left-6p {
    left: 6%
}

.pst-left-7p {
    left: 7%
}

.pst-left-8p {
    left: 8%
}

.pst-left-9p {
    left: 9%
}

.pst-left-10p {
    left: 10%
}

.pst-left-15p {
    left: 15%
}

.pst-left-20p {
    left: 20%
}

.pst-left-25p {
    left: 25%
}

.pst-left-30p {
    left: 30%
}

.pst-left-35p {
    left: 35%
}

.pst-left-40p {
    left: 40%
}

.pst-left-45p {
    left: 45%
}

.pst-left-50p {
    left: 50%
}

.pst-left-55p {
    left: 55%
}

.pst-left-60p {
    left: 60%
}

.pst-left-65p {
    left: 65%
}

.pst-left-70p {
    left: 70%
}

.pst-left-75p {
    left: 75%
}

.pst-left-80p {
    left: 80%
}

.pst-left-85p {
    left: 85%
}

.pst-left-90p {
    left: 90%
}

.pst-left-95p {
    left: 95%
}

.pst-left-100p {
    left: 100%
}

.pst-right-1p {
    right: 1%
}

.pst-right-2p {
    right: 2%
}

.pst-right-3p {
    right: 3%
}

.pst-right-4p {
    right: 4%
}

.pst-right-5p {
    right: 5%
}

.pst-right-6p {
    right: 6%
}

.pst-right-7p {
    right: 7%
}

.pst-right-8p {
    right: 8%
}

.pst-right-9p {
    right: 9%
}

.pst-right-10p {
    right: 10%
}

.pst-right-15p {
    right: 15%
}

.pst-right-20p {
    right: 20%
}

.pst-right-25p {
    right: 25%
}

.pst-right-30p {
    right: 30%
}

.pst-right-35p {
    right: 35%
}

.pst-right-40p {
    right: 40%
}

.pst-right-45p {
    right: 45%
}

.pst-right-50p {
    right: 50%
}

.pst-right-55p {
    right: 55%
}

.pst-right-60p {
    right: 60%
}

.pst-right-65p {
    right: 65%
}

.pst-right-70p {
    right: 70%
}

.pst-right-75p {
    right: 75%
}

.pst-right-80p {
    right: 80%
}

.pst-right-85p {
    right: 85%
}

.pst-right-90p {
    right: 90%
}

.pst-right-95p {
    right: 95%
}

.pst-right-100p {
    right: 100%
}

.pst-right--_4r {
    right: -0.4rem
}

.pst-left--_4r {
    left: -0.4rem
}

/*新增*/

.pst-style-rel {
    position: relative
}

.pst-style-ab {
    position: absolute
}

.pst-style-fx {
    position: fixed
}

.pst-style-sta {
    position: static
}

.pst-style-in {
    position: inherit
}

.pst-top-1p {
    top: 1%
}

.pst-top-2p {
    top: 2%
}

.pst-top-3p {
    top: 3%
}

.pst-top-4p {
    top: 4%
}

.pst-top-5p {
    top: 5%
}

.pst-top-6p {
    top: 6%
}

.pst-top-7p {
    top: 7%
}

.pst-top-8p {
    top: 8%
}

.pst-top-9p {
    top: 9%
}

.pst-top-10p {
    top: 10%
}

.pst-top-15p {
    top: 15%
}

.pst-top-20p {
    top: 20%
}

.pst-top-25p {
    top: 25%
}

.pst-top-30p {
    top: 30%
}

.pst-top-35p {
    top: 35%
}

.pst-top-40p {
    top: 40%
}

.pst-top-45p {
    top: 45%
}

.pst-top-50p {
    top: 50%
}

.pst-top-55p {
    top: 55%
}

.pst-top-60p {
    top: 60%
}

.pst-top-65p {
    top: 65%
}

.pst-top-70p {
    top: 70%
}

.pst-top-75p {
    top: 75%
}

.pst-top-80p {
    top: 80%
}

.pst-top-85p {
    top: 85%
}

.pst-top-90p {
    top: 90%
}

.pst-top-95p {
    top: 95%
}

.pst-top-96p {
    top: 96%
}

.pst-top-100p {
    top: 100%
}

.align-self-sta {
    align-self: flex-start
}

.align-self-end {
    align-self: flex-end
}

.align-self-center {
    align-self: center
}

.align-self-auto {
    align-self: auto
}

.align-self-bl {
    align-self: baseline
}

.align-self-stre {
    align-self: stretch
}

.flex-js-center {
    justify-content: center
}

.flex-js-sta {
    justify-content: flex-start
}

.flex-js-end {
    justify-content: flex-end
}

.flex-js-ar {
    justify-content: space-around
}

.flex-js-bet {
    justify-content: space-between
}

.flex-align-sta {
    align-items: flex-start
}

.flex-align-center {
    align-items: center
}

.flex-align-end {
    align-items: flex-end
}

.flex-align-bl {
    align-items: baseline
}

.flex-align-stre {
    align-items: stretch
}

.flex-dir-rr {
    flex-direction: row-reverse
}

.flex-dir-c {
    flex-direction: column
}

.flex-dir-cr {
    flex-direction: column-reverse
}

.flex-grow-0 {
    flex-grow: 0
}

.flex-grow-1 {
    flex-grow: 1
}

.flex-grow-2 {
    flex-grow: 2
}

.flex-grow-3 {
    flex-grow: 3
}

.flex-grow-4 {
    flex-grow: 4
}

.flex-shrink-0 {
    flex-shrink: 0
}

.flex-shrink-1 {
    flex-shrink: 1
}

.flex-shrink-2 {
    flex-shrink: 2
}

.flex-shrink-3 {
    flex-shrink: 3
}

.flex-shrink-4 {
    flex-shrink: 4
}

.flex-wrap-wrap {
    flex-wrap: wrap
}

.flex-wrap-nowrap {
    flex-wrap: nowrap
}

.flex-wrap-wr {
    flex-wrap: wrap-reverse
}

.mg-b-r-0_1 {
    margin-bottom: .1rem
}

.mg-b-r-0_2 {
    margin-bottom: .2rem
}

.mg-b-r-0_3 {
    margin-bottom: .3rem
}

.mg-b-r-0_4 {
    margin-bottom: .4rem
}

.mg-b-r-0_5 {
    margin-bottom: .5rem
}

.mg-b-r-0_6 {
    margin-bottom: .6rem
}

.mg-b-r-0_7 {
    margin-bottom: .7rem
}

.mg-b-r-0_8 {
    margin-bottom: .8rem
}

.mg-b-r-0_9 {
    margin-bottom: .9rem
}

.mg-b-r-1 {
    margin-bottom: 1rem
}

.mg-b-r-1_5 {
    margin-bottom: 1.5rem
}

.mg-b-r-2 {
    margin-bottom: 2rem
}

.mg-b-r-2_5 {
    margin-bottom: 2.5rem
}

.mg-b-r-3 {
    margin-bottom: 3rem
}

.mg-b-r-3_5 {
    margin-bottom: 3.5rem
}

.mg-b-r-4 {
    margin-bottom: 4rem
}

.mg-b-r-4_5 {
    margin-bottom: 4.5rem
}

.mg-b-r-5 {
    margin-bottom: 5rem
}

.mg-b-r-5_5 {
    margin-bottom: 5.5rem
}

.mg-b-r-6 {
    margin-bottom: 6rem
}

.mg-b-r-6_5 {
    margin-bottom: 6.5rem
}

.mg-b-r-7 {
    margin-bottom: 7rem
}

.mg-b-r-7_5 {
    margin-bottom: 7.5rem
}

.mg-b-r-8 {
    margin-bottom: 8rem
}

.mg-b-r-8_5 {
    margin-bottom: 8.5rem
}

.mg-b-r-9 {
    margin-bottom: 9rem
}

.mg-b-r-9_5 {
    margin-bottom: 9.5rem
}

.mg-b-r-10 {
    margin-bottom: 10rem
}

.mg-b-r-10_5 {
    margin-bottom: 10.5rem
}

.mg-b-r-11 {
    margin-bottom: 11rem
}

.mg-b-r-11_5 {
    margin-bottom: 11.5rem
}

.mg-b-r-12 {
    margin-bottom: 12rem
}

.mg-b-p-1 {
    margin-bottom: 1%
}

.mg-b-p-2 {
    margin-bottom: 2%
}

.mg-b-p-3 {
    margin-bottom: 3%
}

.mg-b-p-4 {
    margin-bottom: 4%
}

.mg-b-p-5 {
    margin-bottom: 5%
}

.mg-b-p-6 {
    margin-bottom: 6%
}

.mg-b-p-7 {
    margin-bottom: 7%
}

.mg-b-p-8 {
    margin-bottom: 8%
}

.mg-b-p-9 {
    margin-bottom: 9%
}

.mg-b-p-10 {
    margin-bottom: 10%
}

.mg-b-p-11 {
    margin-bottom: 11%
}

.mg-b-p-12 {
    margin-bottom: 12%
}

.mg-b-p-13 {
    margin-bottom: 13%
}

.mg-b-p-14 {
    margin-bottom: 14%
}

.mg-b-p-15 {
    margin-bottom: 15%
}

.mg-b-p-16 {
    margin-bottom: 16%
}

.mg-b-p-17 {
    margin-bottom: 17%
}

.mg-b-p-18 {
    margin-bottom: 18%
}

.mg-b-p-19 {
    margin-bottom: 19%
}

.mg-b-p-20 {
    margin-bottom: 20%
}

.mg-b-p-25 {
    margin-bottom: 25%
}

.mg-b-p-30 {
    margin-bottom: 30%
}

.mg-b-p-35 {
    margin-bottom: 35%
}

.mg-b-p-40 {
    margin-bottom: 40%
}

.mg-b-p-50 {
    margin-bottom: 50%
}

.mg-b-p-60 {
    margin-bottom: 60%
}

.mg-b-p-70 {
    margin-bottom: 70%
}

.mg-b-p-80 {
    margin-bottom: 80%
}

.mg-b-p-90 {
    margin-bottom: 90%
}

.mg-b-p-100 {
    margin-bottom: 100%
}

.mg-l-r-0_1 {
    margin-left: .1rem
}

.mg-l-r-0_2 {
    margin-left: .2rem
}

.mg-l-r-0_3 {
    margin-left: .3rem
}

.mg-l-r-0_4 {
    margin-left: .4rem
}

.mg-l-r-0_5 {
    margin-left: .5rem
}

.mg-l-r-0_6 {
    margin-left: .6rem
}

.mg-l-r-0_7 {
    margin-left: .7rem
}

.mg-l-r-0_8 {
    margin-left: .8rem
}

.mg-l-r-0_9 {
    margin-left: .9rem
}

.mg-l-r-1 {
    margin-left: 1rem
}

.mg-l-r-1_5 {
    margin-left: 1.5rem
}

.mg-l-r-2 {
    margin-left: 2rem
}

.mg-l-r-2_5 {
    margin-left: 2.5rem
}

.mg-l-r-3 {
    margin-left: 3rem
}

.mg-l-r-3_5 {
    margin-left: 3.5rem
}

.mg-l-r-4 {
    margin-left: 4rem
}

.mg-l-r-4_5 {
    margin-left: 4.5rem
}

.mg-l-r-5 {
    margin-left: 5rem
}

.mg-l-r-5_5 {
    margin-left: 5.5rem
}

.mg-l-r-6 {
    margin-left: 6rem
}

.mg-l-r-6_5 {
    margin-left: 6.5rem
}

.mg-l-r-7 {
    margin-left: 7rem
}

.mg-l-r-7_5 {
    margin-left: 7.5rem
}

.mg-l-r-8 {
    margin-left: 8rem
}

.mg-l-r-8_5 {
    margin-left: 8.5rem
}

.mg-l-r-9 {
    margin-left: 9rem
}

.mg-l-r-9_5 {
    margin-left: 9.5rem
}

.mg-l-r-10 {
    margin-left: 10rem
}

.mg-l-r-10_5 {
    margin-left: 10.5rem
}

.mg-l-r-11 {
    margin-left: 11rem
}

.mg-l-r-11_5 {
    margin-left: 11.5rem
}

.mg-l-r-12 {
    margin-left: 12rem
}

.mg-l-p-1 {
    margin-left: 1%
}

.mg-l-p-2 {
    margin-left: 2%
}

.mg-l-p-3 {
    margin-left: 3%
}

.mg-l-p-4 {
    margin-left: 4%
}

.mg-l-p-5 {
    margin-left: 5%
}

.mg-l-p-6 {
    margin-left: 6%
}

.mg-l-p-7 {
    margin-left: 7%
}

.mg-l-p-8 {
    margin-left: 8%
}

.mg-l-p-9 {
    margin-left: 9%
}

.mg-l-p-10 {
    margin-left: 10%
}

.mg-l-p-11 {
    margin-left: 11%
}

.mg-l-p-12 {
    margin-left: 12%
}

.mg-l-p-13 {
    margin-left: 13%
}

.mg-l-p-14 {
    margin-left: 14%
}

.mg-l-p-15 {
    margin-left: 15%
}

.mg-l-p-16 {
    margin-left: 16%
}

.mg-l-p-17 {
    margin-left: 17%
}

.mg-l-p-18 {
    margin-left: 18%
}

.mg-l-p-19 {
    margin-left: 19%
}

.mg-l-p-20 {
    margin-left: 20%
}

.mg-l-p-25 {
    margin-left: 25%
}

.mg-l-p-30 {
    margin-left: 30%
}

.mg-l-p-35 {
    margin-left: 35%
}

.mg-l-p-40 {
    margin-left: 40%
}

.mg-l-p-50 {
    margin-left: 50%
}

.mg-l-p-60 {
    margin-left: 60%
}

.mg-l-p-70 {
    margin-left: 70%
}

.mg-l-p-80 {
    margin-left: 80%
}

.mg-l-p-90 {
    margin-left: 90%
}

.mg-l-p-100 {
    margin-left: 100%
}

.mg-r-r-0_1 {
    margin-right: .1rem
}

.mg-r-r-0_2 {
    margin-right: .2rem
}

.mg-r-r-0_3 {
    margin-right: .3rem
}

.mg-r-r-0_4 {
    margin-right: .4rem
}

.mg-r-r-0_5 {
    margin-right: .5rem
}

.mg-r-r-0_6 {
    margin-right: .6rem
}

.mg-r-r-0_7 {
    margin-right: .7rem
}

.mg-r-r-0_8 {
    margin-right: .8rem
}

.mg-r-r-0_9 {
    margin-right: .9rem
}

.mg-r-r-1 {
    margin-right: 1rem
}

.mg-r-r-1_5 {
    margin-right: 1.5rem
}

.mg-r-r-2 {
    margin-right: 2rem
}

.mg-r-r-2_5 {
    margin-right: 2.5rem
}

.mg-r-r-3 {
    margin-right: 3rem
}

.mg-r-r-3_5 {
    margin-right: 3.5rem
}

.mg-r-r-4 {
    margin-right: 4rem
}

.mg-r-r-4_5 {
    margin-right: 4.5rem
}

.mg-r-r-5 {
    margin-right: 5rem
}

.mg-r-r-5_5 {
    margin-right: 5.5rem
}

.mg-r-r-6 {
    margin-right: 6rem
}

.mg-r-r-6_5 {
    margin-right: 6.5rem
}

.mg-r-r-7 {
    margin-right: 7rem
}

.mg-r-r-7_5 {
    margin-right: 7.5rem
}

.mg-r-r-8 {
    margin-right: 8rem
}

.mg-r-r-8_5 {
    margin-right: 8.5rem
}

.mg-r-r-9 {
    margin-right: 9rem
}

.mg-r-r-9_5 {
    margin-right: 9.5rem
}

.mg-r-r-10 {
    margin-right: 10rem
}

.mg-r-r-10_5 {
    margin-right: 10.5rem
}

.mg-r-r-11 {
    margin-right: 11rem
}

.mg-r-r-11_5 {
    margin-right: 11.5rem
}

.mg-r-r-12 {
    margin-right: 12rem
}

.mg-r-p-1 {
    margin-right: 1%
}

.mg-r-p-2 {
    margin-right: 2%
}

.mg-r-p-3 {
    margin-right: 3%
}

.mg-r-p-4 {
    margin-right: 4%
}

.mg-r-p-5 {
    margin-right: 5%
}

.mg-r-p-6 {
    margin-right: 6%
}

.mg-r-p-7 {
    margin-right: 7%
}

.mg-r-p-8 {
    margin-right: 8%
}

.mg-r-p-9 {
    margin-right: 9%
}

.mg-r-p-10 {
    margin-right: 10%
}

.mg-r-p-11 {
    margin-right: 11%
}

.mg-r-p-12 {
    margin-right: 12%
}

.mg-r-p-13 {
    margin-right: 13%
}

.mg-r-p-14 {
    margin-right: 14%
}

.mg-r-p-15 {
    margin-right: 15%
}

.mg-r-p-16 {
    margin-right: 16%
}

.mg-r-p-17 {
    margin-right: 17%
}

.mg-r-p-18 {
    margin-right: 18%
}

.mg-r-p-19 {
    margin-right: 19%
}

.mg-r-p-20 {
    margin-right: 20%
}

.mg-r-p-25 {
    margin-right: 25%
}

.mg-r-p-30 {
    margin-right: 30%
}

.mg-r-p-35 {
    margin-right: 35%
}

.mg-r-p-40 {
    margin-right: 40%
}

.mg-r-p-50 {
    margin-right: 50%
}

.mg-r-p-60 {
    margin-right: 60%
}

.mg-r-p-70 {
    margin-right: 70%
}

.mg-r-p-80 {
    margin-right: 80%
}

.mg-r-p-90 {
    margin-right: 90%
}

.mg-r-p-100 {
    margin-right: 100%
}

.mg-t-r-0_1 {
    margin-top: .1rem
}

.mg-t-r-0_2 {
    margin-top: .2rem
}

.mg-t-r-0_3 {
    margin-top: .3rem
}

.mg-t-r-0_4 {
    margin-top: .4rem
}

.mg-t-r-0_5 {
    margin-top: .5rem
}

.mg-t-r-0_6 {
    margin-top: .6rem
}

.mg-t-r-0_7 {
    margin-top: .7rem
}

.mg-t-r-0_8 {
    margin-top: .8rem
}

.mg-t-r-0_9 {
    margin-top: .9rem
}

.mg-t-r-1 {
    margin-top: 1rem
}

.mg-t-r-1_5 {
    margin-top: 1.5rem
}

.mg-t-r-2 {
    margin-top: 2rem
}

.mg-t-r-2_5 {
    margin-top: 2.5rem
}

.mg-t-r-3 {
    margin-top: 3rem
}

.mg-t-r-3_5 {
    margin-top: 3.5rem
}

.mg-t-r-4 {
    margin-top: 4rem
}

.mg-t-r-4_5 {
    margin-top: 4.5rem
}

.mg-t-r-5 {
    margin-top: 5rem
}

.mg-t-r-5_5 {
    margin-top: 5.5rem
}

.mg-t-r-6 {
    margin-top: 6rem
}

.mg-t-r-6_5 {
    margin-top: 6.5rem
}

.mg-t-r-7 {
    margin-top: 7rem
}

.mg-t-r-7_5 {
    margin-top: 7.5rem
}

.mg-t-r-8 {
    margin-top: 8rem
}

.mg-t-r-8_5 {
    margin-top: 8.5rem
}

.mg-t-r-9 {
    margin-top: 9rem
}

.mg-t-r-9_5 {
    margin-top: 9.5rem
}

.mg-t-r-10 {
    margin-top: 10rem
}

.mg-t-r-10_5 {
    margin-top: 10.5rem
}

.mg-t-r-11 {
    margin-top: 11rem
}

.mg-t-r-11_5 {
    margin-top: 11.5rem
}

.mg-t-r-12 {
    margin-top: 12rem
}

.mg-t-p-1 {
    margin-top: 1%
}

.mg-t-p-2 {
    margin-top: 2%
}

.mg-t-p-3 {
    margin-top: 3%
}

.mg-t-p-4 {
    margin-top: 4%
}

.mg-t-p-5 {
    margin-top: 5%
}

.mg-t-p-6 {
    margin-top: 6%
}

.mg-t-p-7 {
    margin-top: 7%
}

.mg-t-p-8 {
    margin-top: 8%
}

.mg-t-p-9 {
    margin-top: 9%
}

.mg-t-p-10 {
    margin-top: 10%
}

.mg-t-p-11 {
    margin-top: 11%
}

.mg-t-p-12 {
    margin-top: 12%
}

.mg-t-p-13 {
    margin-top: 13%
}

.mg-t-p-14 {
    margin-top: 14%
}

.mg-t-p-15 {
    margin-top: 15%
}

.mg-t-p-16 {
    margin-top: 16%
}

.mg-t-p-17 {
    margin-top: 17%
}

.mg-t-p-18 {
    margin-top: 18%
}

.mg-t-p-19 {
    margin-top: 19%
}

.mg-t-p-20 {
    margin-top: 20%
}

.mg-t-p-25 {
    margin-top: 25%
}

.mg-t-p-30 {
    margin-top: 30%
}

.mg-t-p-35 {
    margin-top: 35%
}

.mg-t-p-40 {
    margin-top: 40%
}

.mg-t-p-50 {
    margin-top: 50%
}

.mg-t-p-60 {
    margin-top: 60%
}

.mg-t-p-70 {
    margin-top: 70%
}

.mg-t-p-80 {
    margin-top: 80%
}

.mg-t-p-90 {
    margin-top: 90%
}

.mg-t-p-100 {
    margin-top: 100%
}

.h-r-0_1 {
    height: .1rem
}

.h-r-0_2 {
    height: .2rem
}

.h-r-0_3 {
    height: .3rem
}

.h-r-0_4 {
    height: .4rem
}

.h-r-0_5 {
    height: .5rem
}

.h-r-0_6 {
    height: .6rem
}

.h-r-0_7 {
    height: .7rem
}

.h-r-0_8 {
    height: .8rem
}

.h-r-0_9 {
    height: .9rem
}

.h-r-1 {
    height: 1rem
}

.h-r-1_5 {
    height: 1.5rem
}

.h-r-2 {
    height: 2rem
}

.h-r-2_5 {
    height: 2.5rem
}

.h-r-3 {
    height: 3rem
}

.h-r-3_5 {
    height: 3.5rem
}

.h-r-4 {
    height: 4rem
}

.h-r-4_5 {
    height: 4.5rem
}

.h-r-5 {
    height: 5rem
}

.h-r-5_3 {
    height: 5.3rem
}

.h-r-5_5 {
    height: 5.5rem
}

.h-r-6 {
    height: 6rem
}

.h-r-6_5 {
    height: 6.5rem
}

.h-r-7 {
    height: 7rem
}

.h-r-7_5 {
    height: 7.5rem
}

.h-r-8 {
    height: 8rem
}

.h-r-8_5 {
    height: 8.5rem
}

.h-r-9 {
    height: 9rem
}

.h-r-9_5 {
    height: 9.5rem
}

.h-r-10 {
    height: 10rem
}

.h-r-10_5 {
    height: 10.5rem
}

.h-r-11 {
    height: 11rem
}

.h-r-11_1 {
    height: 11.1rem
}

.h-r-11_2 {
    height: 11.2rem
}

.h-r-11_3 {
    height: 11.3rem
}

.h-r-11_4 {
    height: 11.4rem
}

.h-r-11_5 {
    height: 11.5rem
}

.h-r-11_6 {
    height: 11.6rem
}

.h-r-11_7 {
    height: 11.7rem
}

.h-r-11_8 {
    height: 11.8rem
}

.h-r-11_9 {
    height: 11.9rem
}

.h-r-12 {
    height: 12rem
}

.h-p-1 {
    height: 1%
}

.h-p-2 {
    height: 2%
}

.h-p-3 {
    height: 3%
}

.h-p-4 {
    height: 4%
}

.h-p-5 {
    height: 5%
}

.h-p-6 {
    height: 6%
}

.h-p-7 {
    height: 7%
}

.h-p-8 {
    height: 8%
}

.h-p-9 {
    height: 9%
}

.h-p-10 {
    height: 10%
}

.h-p-15 {
    height: 15%
}

.h-p-20 {
    height: 20%
}

.h-p-25 {
    height: 25%
}

.h-p-30 {
    height: 30%
}

.h-p-35 {
    height: 35%
}

.h-p-40 {
    height: 40%
}

.h-p-45 {
    height: 45%
}

.h-p-50 {
    height: 50%
}

.h-p-55 {
    height: 55%
}

.h-p-60 {
    height: 60%
}

.h-p-65 {
    height: 65%
}

.h-p-70 {
    height: 70%
}

.h-p-75 {
    height: 75%
}

.h-p-80 {
    height: 80%
}

.h-p-85 {
    height: 85%
}

.h-p-90 {
    height: 90%
}

.h-p-95 {
    height: 95%
}

.h-p-100 {
    height: 100%
}

.mg-a-r-center {
    margin: 0 auto;
}

.mg-a-r-0_1 {
    margin: .1rem
}

.mg-a-r-0_2 {
    margin: .2rem
}

.mg-a-r-0_3 {
    margin: .3rem
}

.mg-a-r-0_4 {
    margin: .4rem
}

.mg-a-r-0_5 {
    margin: .5rem
}

.mg-a-r-0_6 {
    margin: .6rem
}

.mg-a-r-0_7 {
    margin: .7rem
}

.mg-a-r-0_8 {
    margin: .8rem
}

.mg-a-r-0_9 {
    margin: .9rem
}

.mg-a-r-1 {
    margin: 1rem
}

.mg-a-r-1_5 {
    margin: 1.5rem
}

.mg-a-r-2 {
    margin: 2rem
}

.mg-a-r-2_5 {
    margin: 2.5rem
}

.mg-a-r-3 {
    margin: 3rem
}

.mg-a-r-3_5 {
    margin: 3.5rem
}

.mg-a-r-4 {
    margin: 4rem
}

.mg-a-r-4_5 {
    margin: 4.5rem
}

.mg-a-r-5 {
    margin: 5rem
}

.mg-a-r-5_5 {
    margin: 5.5rem
}

.mg-a-r-6 {
    margin: 6rem
}

.mg-a-r-6_5 {
    margin: 6.5rem
}

.mg-a-r-7 {
    margin: 7rem
}

.mg-a-r-7_5 {
    margin: 7.5rem
}

.mg-a-r-8 {
    margin: 8rem
}

.mg-a-r-8_5 {
    margin: 8.5rem
}

.mg-a-r-9 {
    margin: 9rem
}

.mg-a-r-9_5 {
    margin: 9.5rem
}

.mg-a-r-10 {
    margin: 10rem
}

.mg-a-r-10_5 {
    margin: 10.5rem
}

.mg-a-r-11 {
    margin: 11rem
}

.mg-a-r-11_5 {
    margin: 11.5rem
}

.mg-a-r-12 {
    margin: 12rem
}

.mg-a-p-1 {
    margin: 1%
}

.mg-a-p-2 {
    margin: 2%
}

.mg-a-p-3 {
    margin: 3%
}

.mg-a-p-4 {
    margin: 4%
}

.mg-a-p-5 {
    margin: 5%
}

.mg-a-p-6 {
    margin: 6%
}

.mg-a-p-7 {
    margin: 7%
}

.mg-a-p-8 {
    margin: 8%
}

.mg-a-p-9 {
    margin: 9%
}

.mg-a-p-10 {
    margin: 10%
}

.mg-a-p-11 {
    margin: 11%
}

.mg-a-p-12 {
    margin: 12%
}

.mg-a-p-13 {
    margin: 13%
}

.mg-a-p-14 {
    margin: 14%
}

.mg-a-p-15 {
    margin: 15%
}

.mg-a-p-16 {
    margin: 16%
}

.mg-a-p-17 {
    margin: 17%
}

.mg-a-p-18 {
    margin: 18%
}

.mg-a-p-19 {
    margin: 19%
}

.mg-a-p-20 {
    margin: 20%
}

.mg-a-p-25 {
    margin: 25%
}

.mg-a-p-30 {
    margin: 30%
}

.mg-a-p-35 {
    margin: 35%
}

.mg-a-p-40 {
    margin: 40%
}

.mg-a-p-50 {
    margin: 50%
}

.mg-a-p-60 {
    margin: 60%
}

.mg-a-p-70 {
    margin: 70%
}

.mg-a-p-80 {
    margin: 80%
}

.mg-a-p-90 {
    margin: 90%
}

.mg-a-p-100 {
    margin: 100%
}

.of-scroll-x {
    overflow-x: scroll
}

.of-scroll-y {
    overflow-y: scroll
}

.of-scroll-all {
    overflow: scroll
}

.of-visible-x {
    overflow-x: visible
}

.of-visible-y {
    overflow-y: visible
}

.of-visible-all {
    overflow: visible
}

.of-auto-x {
    overflow-x: auto;
}

.of-auto-y {
    overflow-y: auto
}

.of-auto-all {
    overflow: auto
}

.of-hidden-x {
    overflow-x: hidden
}

.of-hidden-y {
    overflow-y: hidden
}

.of-hidden-all {
    overflow: hidden
}

.-o {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pd-l-r-0_1 {
    padding-left: .1rem
}

.pd-l-r-0_2 {
    padding-left: .2rem
}

.pd-l-r-0_3 {
    padding-left: .3rem
}

.pd-l-r-0_4 {
    padding-left: .4rem
}

.pd-l-r-0_5 {
    padding-left: .5rem
}

.pd-l-r-0_6 {
    padding-left: .6rem
}

.pd-l-r-0_7 {
    padding-left: .7rem
}

.pd-l-r-0_8 {
    padding-left: .8rem
}

.pd-l-r-0_9 {
    padding-left: .9rem
}

.pd-l-r-1 {
    padding-left: 1rem
}

.pd-l-r-1_5 {
    padding-left: 1.5rem
}

.pd-l-r-2 {
    padding-left: 2rem
}

.pd-l-r-2_5 {
    padding-left: 2.5rem
}

.pd-l-r-3 {
    padding-left: 3rem
}

.pd-l-r-3_5 {
    padding-left: 3.5rem
}

.pd-l-r-4 {
    padding-left: 4rem
}

.pd-l-r-4_5 {
    padding-left: 4.5rem
}

.pd-l-r-5 {
    padding-left: 5rem
}

.pd-l-r-5_5 {
    padding-left: 5.5rem
}

.pd-l-r-6 {
    padding-left: 6rem
}

.pd-l-r-6_5 {
    padding-left: 6.5rem
}

.pd-l-r-7 {
    padding-left: 7rem
}

.pd-l-r-7_5 {
    padding-left: 7.5rem
}

.pd-l-r-8 {
    padding-left: 8rem
}

.pd-l-r-8_5 {
    padding-left: 8.5rem
}

.pd-l-r-9 {
    padding-left: 9rem
}

.pd-l-r-9_5 {
    padding-left: 9.5rem
}

.pd-l-r-10 {
    padding-left: 10rem
}

.pd-l-r-10_5 {
    padding-left: 10.5rem
}

.pd-l-r-11 {
    padding-left: 11rem
}

.pd-l-r-11_5 {
    padding-left: 11.5rem
}

.pd-l-r-12 {
    padding-left: 12rem
}

.pd-l-p-1 {
    padding-left: 1%
}

.pd-l-p-2 {
    padding-left: 2%
}

.pd-l-p-3 {
    padding-left: 3%
}

.pd-l-p-4 {
    padding-left: 4%
}

.pd-l-p-5 {
    padding-left: 5%
}

.pd-l-p-6 {
    padding-left: 6%
}

.pd-l-p-7 {
    padding-left: 7%
}

.pd-l-p-8 {
    padding-left: 8%
}

.pd-l-p-9 {
    padding-left: 9%
}

.pd-l-p-10 {
    padding-left: 10%
}

.pd-l-p-11 {
    padding-left: 11%
}

.pd-l-p-12 {
    padding-left: 12%
}

.pd-l-p-13 {
    padding-left: 13%
}

.pd-l-p-14 {
    padding-left: 14%
}

.pd-l-p-15 {
    padding-left: 15%
}

.pd-l-p-16 {
    padding-left: 16%
}

.pd-l-p-17 {
    padding-left: 17%
}

.pd-l-p-18 {
    padding-left: 18%
}

.pd-l-p-19 {
    padding-left: 19%
}

.pd-l-p-20 {
    padding-left: 20%
}

.pd-l-p-25 {
    padding-left: 25%
}

.pd-l-p-30 {
    padding-left: 30%
}

.pd-l-p-35 {
    padding-left: 35%
}

.pd-l-p-40 {
    padding-left: 40%
}

.pd-l-p-50 {
    padding-left: 50%
}

.pd-l-p-60 {
    padding-left: 60%
}

.pd-l-p-70 {
    padding-left: 70%
}

.pd-l-p-80 {
    padding-left: 80%
}

.pd-l-p-90 {
    padding-left: 90%
}

.pd-l-p-100 {
    padding-left: 100%
}

.pd-r-r-0_1 {
    padding-right: .1rem
}

.pd-r-r-0_2 {
    padding-right: .2rem
}

.pd-r-r-0_3 {
    padding-right: .3rem
}

.pd-r-r-0_4 {
    padding-right: .4rem
}

.pd-r-r-0_5 {
    padding-right: .5rem
}

.pd-r-r-0_6 {
    padding-right: .6rem
}

.pd-r-r-0_7 {
    padding-right: .7rem
}

.pd-r-r-0_8 {
    padding-right: .8rem
}

.pd-r-r-0_9 {
    padding-right: .9rem
}

.pd-r-r-1 {
    padding-right: 1rem
}

.pd-r-r-1_5 {
    padding-right: 1.5rem
}

.pd-r-r-2 {
    padding-right: 2rem
}

.pd-r-r-2_5 {
    padding-right: 2.5rem
}

.pd-r-r-3 {
    padding-right: 3rem
}

.pd-r-r-3_5 {
    padding-right: 3.5rem
}

.pd-r-r-4 {
    padding-right: 4rem
}

.pd-r-r-4_5 {
    padding-right: 4.5rem
}

.pd-r-r-5 {
    padding-right: 5rem
}

.pd-r-r-5_5 {
    padding-right: 5.5rem
}

.pd-r-r-6 {
    padding-right: 6rem
}

.pd-r-r-6_5 {
    padding-right: 6.5rem
}

.pd-r-r-7 {
    padding-right: 7rem
}

.pd-r-r-7_5 {
    padding-right: 7.5rem
}

.pd-r-r-8 {
    padding-right: 8rem
}

.pd-r-r-8_5 {
    padding-right: 8.5rem
}

.pd-r-r-9 {
    padding-right: 9rem
}

.pd-r-r-9_5 {
    padding-right: 9.5rem
}

.pd-r-r-10 {
    padding-right: 10rem
}

.pd-r-r-10_5 {
    padding-right: 10.5rem
}

.pd-r-r-11 {
    padding-right: 11rem
}

.pd-r-r-11_5 {
    padding-right: 11.5rem
}

.pd-r-r-12 {
    padding-right: 12rem
}

.pd-r-p-1 {
    padding-right: 1%
}

.pd-r-p-2 {
    padding-right: 2%
}

.pd-r-p-3 {
    padding-right: 3%
}

.pd-r-p-4 {
    padding-right: 4%
}

.pd-r-p-5 {
    padding-right: 5%
}

.pd-r-p-6 {
    padding-right: 6%
}

.pd-r-p-7 {
    padding-right: 7%
}

.pd-r-p-8 {
    padding-right: 8%
}

.pd-r-p-9 {
    padding-right: 9%
}

.pd-r-p-10 {
    padding-right: 10%
}

.pd-r-p-11 {
    padding-right: 11%
}

.pd-r-p-12 {
    padding-right: 12%
}

.pd-r-p-13 {
    padding-right: 13%
}

.pd-r-p-14 {
    padding-right: 14%
}

.pd-r-p-15 {
    padding-right: 15%
}

.pd-r-p-16 {
    padding-right: 16%
}

.pd-r-p-17 {
    padding-right: 17%
}

.pd-r-p-18 {
    padding-right: 18%
}

.pd-r-p-19 {
    padding-right: 19%
}

.pd-r-p-20 {
    padding-right: 20%
}

.pd-r-p-25 {
    padding-right: 25%
}

.pd-r-p-30 {
    padding-right: 30%
}

.pd-r-p-35 {
    padding-right: 35%
}

.pd-r-p-40 {
    padding-right: 40%
}

.pd-r-p-50 {
    padding-right: 50%
}

.pd-r-p-60 {
    padding-right: 60%
}

.pd-r-p-70 {
    padding-right: 70%
}

.pd-r-p-80 {
    padding-right: 80%
}

.pd-r-p-90 {
    padding-right: 90%
}

.pd-r-p-100 {
    padding-right: 100%
}

.pd-t-r-0_1 {
    padding-top: .1rem
}

.pd-t-r-0_2 {
    padding-top: .2rem
}

.pd-t-r-0_3 {
    padding-top: .3rem
}

.pd-t-r-0_4 {
    padding-top: .4rem
}

.pd-t-r-0_5 {
    padding-top: .5rem
}

.pd-t-r-0_6 {
    padding-top: .6rem
}

.pd-t-r-0_7 {
    padding-top: .7rem
}

.pd-t-r-0_8 {
    padding-top: .8rem
}

.pd-t-r-0_9 {
    padding-top: .9rem
}

.pd-t-r-1 {
    padding-top: 1rem
}

.pd-t-r-1_5 {
    padding-top: 1.5rem
}

.pd-t-r-2 {
    padding-top: 2rem
}

.pd-t-r-2_5 {
    padding-top: 2.5rem
}

.pd-t-r-3 {
    padding-top: 3rem
}

.pd-t-r-3_5 {
    padding-top: 3.5rem
}

.pd-t-r-4 {
    padding-top: 4rem
}

.pd-t-r-4_5 {
    padding-top: 4.5rem
}

.pd-t-r-5 {
    padding-top: 5rem
}

.pd-t-r-5_5 {
    padding-top: 5.5rem
}

.pd-t-r-6 {
    padding-top: 6rem
}

.pd-t-r-6_5 {
    padding-top: 6.5rem
}

.pd-t-r-7 {
    padding-top: 7rem
}

.pd-t-r-7_5 {
    padding-top: 7.5rem
}

.pd-t-r-8 {
    padding-top: 8rem
}

.pd-t-r-8_5 {
    padding-top: 8.5rem
}

.pd-t-r-9 {
    padding-top: 9rem
}

.pd-t-r-9_5 {
    padding-top: 9.5rem
}

.pd-t-r-10 {
    padding-top: 10rem
}

.pd-t-r-10_5 {
    padding-top: 10.5rem
}

.pd-t-r-11 {
    padding-top: 11rem
}

.pd-t-r-11_5 {
    padding-top: 11.5rem
}

.pd-t-r-12 {
    padding-top: 12rem
}

.pd-t-p-1 {
    padding-top: 1%
}

.pd-t-p-2 {
    padding-top: 2%
}

.pd-t-p-3 {
    padding-top: 3%
}

.pd-t-p-4 {
    padding-top: 4%
}

.pd-t-p-5 {
    padding-top: 5%
}

.pd-t-p-6 {
    padding-top: 6%
}

.pd-t-p-7 {
    padding-top: 7%
}

.pd-t-p-8 {
    padding-top: 8%
}

.pd-t-p-9 {
    padding-top: 9%
}

.pd-t-p-10 {
    padding-top: 10%
}

.pd-t-p-11 {
    padding-top: 11%
}

.pd-t-p-12 {
    padding-top: 12%
}

.pd-t-p-13 {
    padding-top: 13%
}

.pd-t-p-14 {
    padding-top: 14%
}

.pd-t-p-15 {
    padding-top: 15%
}

.pd-t-p-16 {
    padding-top: 16%
}

.pd-t-p-17 {
    padding-top: 17%
}

.pd-t-p-18 {
    padding-top: 18%
}

.pd-t-p-19 {
    padding-top: 19%
}

.pd-t-p-20 {
    padding-top: 20%
}

.pd-t-p-25 {
    padding-top: 25%
}

.pd-t-p-30 {
    padding-top: 30%
}

.pd-t-p-35 {
    padding-top: 35%
}

.pd-t-p-40 {
    padding-top: 40%
}

.pd-t-p-50 {
    padding-top: 50%
}

.pd-t-p-60 {
    padding-top: 60%
}

.pd-t-p-70 {
    padding-top: 70%
}

.pd-t-p-80 {
    padding-top: 80%
}

.pd-t-p-90 {
    padding-top: 90%
}

.pd-t-p-100 {
    padding-top: 100%
}

.w-r-0_1 {
    width: .1rem
}

.w-r-0_2 {
    width: .2rem
}

.w-r-0_3 {
    width: .3rem
}

.w-r-0_4 {
    width: .4rem
}

.w-r-0_5 {
    width: .5rem
}

.w-r-0_6 {
    width: .6rem
}

.w-r-0_7 {
    width: .7rem
}

.w-r-0_8 {
    width: .8rem
}

.w-r-0_9 {
    width: .9rem
}

.w-r-1 {
    width: 1rem
}

.w-r-1_5 {
    width: 1.5rem
}

.w-r-2 {
    width: 2rem
}

.w-r-2_5 {
    width: 2.5rem
}

.w-r-2_7 {
    width: 2.7rem
}

.w-r-3 {
    width: 3rem
}

.w-r-3_4 {
    width: 3.4rem
}

.w-r-3_5 {
    width: 3.5rem
}

.w-r-4 {
    width: 4rem
}

.w-r-4_5 {
    width: 4.5rem
}

.w-r-5 {
    width: 5rem
}

.w-r-5_5 {
    width: 5.5rem
}

.w-r-6 {
    width: 6rem
}

.w-r-6_5 {
    width: 6.5rem
}

.w-r-7 {
    width: 7rem
}

.w-r-7_5 {
    width: 7.5rem
}

.w-r-8 {
    width: 8rem
}

.w-r-8_5 {
    width: 8.5rem
}

.w-r-9 {
    width: 9rem
}

.w-r-9_5 {
    width: 9.5rem
}

.w-r-10 {
    width: 10rem
}

.w-r-10_5 {
    width: 10.5rem
}

.w-r-11 {
    width: 11rem
}

.w-r-11_1 {
    width: 11.1rem
}

.w-r-11_2 {
    width: 11.2rem
}

.w-r-11_3 {
    width: 11.3rem
}

.w-r-11_4 {
    width: 11.4rem
}

.w-r-11_5 {
    width: 11.5rem
}

.w-r-11_6 {
    width: 11.6rem
}

.w-r-11_7 {
    width: 11.7rem
}

.w-r-11_8 {
    width: 11.8rem
}

.w-r-11_9 {
    width: 11.9rem
}

.w-r-12 {
    width: 12rem
}

.w-r-15 {
    width: 15rem
}

.w-p-1 {
    width: 1%
}

.w-p-2 {
    width: 2%
}

.w-p-3 {
    width: 3%
}

.w-p-4 {
    width: 4%
}

.w-p-5 {
    width: 5%
}

.w-p-6 {
    width: 6%
}

.w-p-7 {
    width: 7%
}

.w-p-8 {
    width: 8%
}

.w-p-9 {
    width: 9%
}

.w-p-10 {
    width: 10%
}

.w-p-15 {
    width: 15%
}

.w-p-20 {
    width: 20%
}

.w-p-25 {
    width: 25%
}

.w-p-30 {
    width: 30%
}

.w-p-35 {
    width: 35%
}

.w-p-40 {
    width: 40%
}

.w-p-45 {
    width: 45%
}

.w-p-50 {
    width: 50%
}

.w-p-55 {
    width: 55%
}

.w-p-60 {
    width: 60%
}

.w-p-65 {
    width: 65%
}

.w-p-70 {
    width: 70%
}

.w-p-75 {
    width: 75%
}

.w-p-80 {
    width: 80%
}

.w-p-85 {
    width: 85%
}

.w-p-90 {
    width: 90%
}

.w-p-95 {
    width: 95%
}

.w-p-100 {
    width: 100%
}

.max-w-p-6 {
    max-width: 6rem;
}

.pd-b-r-0_1 {
    padding-bottom: .1rem
}

.pd-b-r-0_2 {
    padding-bottom: .2rem
}

.pd-b-r-0_3 {
    padding-bottom: .3rem
}

.pd-b-r-0_4 {
    padding-bottom: .4rem
}

.pd-b-r-0_5 {
    padding-bottom: .5rem
}

.pd-b-r-0_6 {
    padding-bottom: .6rem
}

.pd-b-r-0_7 {
    padding-bottom: .7rem
}

.pd-b-r-0_8 {
    padding-bottom: .8rem
}

.pd-b-r-0_9 {
    padding-bottom: .9rem
}

.pd-b-r-1 {
    padding-bottom: 1rem
}

.pd-b-r-1_5 {
    padding-bottom: 1.5rem
}

.pd-b-r-2 {
    padding-bottom: 2rem
}

.pd-b-r-2_5 {
    padding-bottom: 2.5rem
}

.pd-b-r-3 {
    padding-bottom: 3rem
}

.pd-b-r-3_5 {
    padding-bottom: 3.5rem
}

.pd-b-r-4 {
    padding-bottom: 4rem
}

.pd-b-r-4_5 {
    padding-bottom: 4.5rem
}

.pd-b-r-5 {
    padding-bottom: 5rem
}

.pd-b-r-5_5 {
    padding-bottom: 5.5rem
}

.pd-b-r-6 {
    padding-bottom: 6rem
}

.pd-b-r-6_5 {
    padding-bottom: 6.5rem
}

.pd-b-r-7 {
    padding-bottom: 7rem
}

.pd-b-r-7_5 {
    padding-bottom: 7.5rem
}

.pd-b-r-8 {
    padding-bottom: 8rem
}

.pd-b-r-8_5 {
    padding-bottom: 8.5rem
}

.pd-b-r-9 {
    padding-bottom: 9rem
}

.pd-b-r-9_5 {
    padding-bottom: 9.5rem
}

.pd-b-r-10 {
    padding-bottom: 10rem
}

.pd-b-r-10_5 {
    padding-bottom: 10.5rem
}

.pd-b-r-11 {
    padding-bottom: 11rem
}

.pd-b-r-11_5 {
    padding-bottom: 11.5rem
}

.pd-b-r-12 {
    padding-bottom: 12rem
}

.pd-b-p-1 {
    padding-bottom: 1%
}

.pd-b-p-2 {
    padding-bottom: 2%
}

.pd-b-p-3 {
    padding-bottom: 3%
}

.pd-b-p-4 {
    padding-bottom: 4%
}

.pd-b-p-5 {
    padding-bottom: 5%
}

.pd-b-p-6 {
    padding-bottom: 6%
}

.pd-b-p-7 {
    padding-bottom: 7%
}

.pd-b-p-8 {
    padding-bottom: 8%
}

.pd-b-p-9 {
    padding-bottom: 9%
}

.pd-b-p-10 {
    padding-bottom: 10%
}

.pd-b-p-11 {
    padding-bottom: 11%
}

.pd-b-p-12 {
    padding-bottom: 12%
}

.pd-b-p-13 {
    padding-bottom: 13%
}

.pd-b-p-14 {
    padding-bottom: 14%
}

.pd-b-p-15 {
    padding-bottom: 15%
}

.pd-b-p-16 {
    padding-bottom: 16%
}

.pd-b-p-17 {
    padding-bottom: 17%
}

.pd-b-p-18 {
    padding-bottom: 18%
}

.pd-b-p-19 {
    padding-bottom: 19%
}

.pd-b-p-20 {
    padding-bottom: 20%
}

.pd-b-p-25 {
    padding-bottom: 25%
}

.pd-b-p-30 {
    padding-bottom: 30%
}

.pd-b-p-35 {
    padding-bottom: 35%
}

.pd-b-p-40 {
    padding-bottom: 40%
}

.pd-b-p-50 {
    padding-bottom: 50%
}

.pd-b-p-60 {
    padding-bottom: 60%
}

.pd-b-p-70 {
    padding-bottom: 70%
}

.pd-b-p-80 {
    padding-bottom: 80%
}

.pd-b-p-90 {
    padding-bottom: 90%
}

.pd-b-p-100 {
    padding-bottom: 100%
}

.pd-a-r-0_1 {
    padding: .1rem
}

.pd-a-r-0_2 {
    padding: .2rem
}

.pd-a-r-0_3 {
    padding: .3rem
}

.pd-a-r-0_4 {
    padding: .4rem
}

.pd-a-r-0_5 {
    padding: .5rem
}

.pd-a-r-0_6 {
    padding: .6rem
}

.pd-a-r-0_7 {
    padding: .7rem
}

.pd-a-r-0_8 {
    padding: .8rem
}

.pd-a-r-0_9 {
    padding: .9rem
}

.pd-a-r-1 {
    padding: 1rem
}

.pd-a-r-1_5 {
    padding: 1.5rem
}

.pd-a-r-2 {
    padding: 2rem
}

.pd-a-r-2_5 {
    padding: 2.5rem
}

.pd-a-r-3 {
    padding: 3rem
}

.pd-a-r-3_5 {
    padding: 3.5rem
}

.pd-a-r-4 {
    padding: 4rem
}

.pd-a-r-4_5 {
    padding: 4.5rem
}

.pd-a-r-5 {
    padding: 5rem
}

.pd-a-r-5_5 {
    padding: 5.5rem
}

.pd-a-r-6 {
    padding: 6rem
}

.pd-a-r-6_5 {
    padding: 6.5rem
}

.pd-a-r-7 {
    padding: 7rem
}

.pd-a-r-7_5 {
    padding: 7.5rem
}

.pd-a-r-8 {
    padding: 8rem
}

.pd-a-r-8_5 {
    padding: 8.5rem
}

.pd-a-r-9 {
    padding: 9rem
}

.pd-a-r-9_5 {
    padding: 9.5rem
}

.pd-a-r-10 {
    padding: 10rem
}

.pd-a-r-10_5 {
    padding: 10.5rem
}

.pd-a-r-11 {
    padding: 11rem
}

.pd-a-r-11_5 {
    padding: 11.5rem
}

.pd-a-r-12 {
    padding: 12rem
}

.pd-a-p-1 {
    padding: 1%
}

.pd-a-p-2 {
    padding: 2%
}

.pd-a-p-3 {
    padding: 3%
}

.pd-a-p-4 {
    padding: 4%
}

.pd-a-p-5 {
    padding: 5%
}

.pd-a-p-6 {
    padding: 6%
}

.pd-a-p-7 {
    padding: 7%
}

.pd-a-p-8 {
    padding: 8%
}

.pd-a-p-9 {
    padding: 9%
}

.pd-a-p-10 {
    padding: 10%
}

.pd-a-p-11 {
    padding: 11%
}

.pd-a-p-12 {
    padding: 12%
}

.pd-a-p-13 {
    padding: 13%
}

.pd-a-p-14 {
    padding: 14%
}

.pd-a-p-15 {
    padding: 15%
}

.pd-a-p-16 {
    padding: 16%
}

.pd-a-p-17 {
    padding: 17%
}

.pd-a-p-18 {
    padding: 18%
}

.pd-a-p-19 {
    padding: 19%
}

.pd-a-p-20 {
    padding: 20%
}

.pd-a-p-25 {
    padding: 25%
}

.pd-a-p-30 {
    padding: 30%
}

.pd-a-p-35 {
    padding: 35%
}

.pd-a-p-40 {
    padding: 40%
}

.pd-a-p-50 {
    padding: 50%
}

.pd-a-p-60 {
    padding: 60%
}

.pd-a-p-70 {
    padding: 70%
}

.pd-a-p-80 {
    padding: 80%
}

.pd-a-p-90 {
    padding: 90%
}

.pd-a-p-100 {
    padding: 100%
}

.box-size-bb {
    box-sizing: border-box
}

.box-size-cb {
    box-sizing: content-box
}

.dis-blcok {
    display: block;
}

.dis-inline {
    display: inline;
}

.dis-in-block {
    display: inline-block;
}

.dis-flex {
    display: flex;
}

.dis-in-flex {
    display: inline-flex;
}

.dis-table {
    display: table;
}

.dis-none {
    display: none
}

.z-index-10 {
    z-index: 10
}

.z-index-20 {
    z-index: 20
}

.z-index-30 {
    z-index: 30
}

.z-index-40 {
    z-index: 40
}

.z-index-50 {
    z-index: 50
}

.z-index-100 {
    z-index: 100
}

.z-index-500 {
    z-index: 500
}

.z-index-999 {
    z-index: 999
}

.z-index-1000 {
    z-index: 1000
}

.z-index-1001 {
    z-index: 1001
}

.bgc-efad4d {
    background-color: #efad4d
}

.bgc-ffffff {
    background-color: #ffffff
}

.bgc-5bc0de {
    background-color: #5bc0de;
}

.bgc-42f7ca {
    background-color: #42f7ca;
}

.bgc-000000 {
    background-color: #000000;
}

.bd-all-c-trans {
    border-color: transparent
}

.bd-all-c-999999 {
    border-color: #999999;
}

.bd-all-c-000000 {
    border-color: #000000;
}

.bd-l-c-42f7ca {
    border-left-color: #42f7ca
}

.bd-r-c-42f7ca {
    border-right-color: #42f7ca
}

.float-ctf:after {
    content: '';
    display: block;
    clear: both;
}

.font-color {
    color: #ffffff
}