.font-family-hei {font-family:榛戜綋;}  
.font-family-kai {font-family:妤蜂綋;}  
.font-family-song {font-family:瀹嬩綋;}  
.font-family-wei {font-family:寰蒋闆呴粦;}  
.font-size-0_4 {font-size:0.4rem;}  
.font-size-0_45 {font-size:0.45rem;}  
.font-size-0_5 {font-size:0.5rem;}  
.font-size-0_55 {font-size:0.55rem;}  
.font-size-0_6 {font-size:0.6rem;}  
.font-size-0_65 {font-size:0.65rem;}  
.font-size-0_7 {font-size:0.7rem;}  
.font-size-0_75 {font-size:0.75rem;}  
.font-size-0_8 {font-size:0.8rem;}  
.font-size-1 {font-size:1rem;}  
.font-size-1_2 {font-size:1.2rem;}  
.font-size-1_5 {font-size:1.5rem;}  
.font-size-2 {font-size:2rem;}  
.font-size-2_5 {font-size:2.5rem;}  
.font-size-4 {font-size:4rem;}  
.font-size-6 {font-size:6rem;}  
.font-style-ita {font-style:italic;}  
.font-style-nor {font-style:normal;}  
.font-style-obl {font-style:oblique;}  
.font-weight-bold {font-weight:bold;}  
.font-weight-bolder {font-weight:bolder;}  
.font-weight-lig {font-weight:lighter;}  
.iconfont {font-family:"iconfont"!important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.line-hg-px-1 {line-height:1px;}  
.line-hg-px-10 {line-height:10px;}  
.line-hg-px-15 {line-height:15px;}  
.line-hg-px-2 {line-height:2px;}  
.line-hg-px-20 {line-height:20px;}  
.line-hg-px-25 {line-height:15px;}  
.line-hg-px-3 {line-height:3px;}  
.line-hg-px-30 {line-height:30px;}  
.line-hg-px-36 {line-height:35px;}  
.line-hg-px-4 {line-height:4px;}  
.line-hg-px-40 {line-height:40px;}  
.line-hg-px-45 {line-height:45px;}  
.line-hg-px-5 {line-height:5px;}  
.line-hg-px-6 {line-height:6px;}  
.line-hg-px-7 {line-height:7px;}  
.line-hg-px-8 {line-height:8px;}  
.line-hg-px-9 {line-height:9px;}  
.line-hg-r-1 {line-height:1rem;}  
.line-hg-r-10 {line-height:10rem;}  
.line-hg-r-11 {line-height:11rem;}  
.line-hg-r-2 {line-height:2rem;}  
.line-hg-r-3 {line-height:3rem;}  
.line-hg-r-4 {line-height:4rem;}  
.line-hg-r-5 {line-height:5rem;}  
.line-hg-r-6 {line-height:6rem;}  
.line-hg-r-7 {line-height:7rem;}  
.line-hg-r-8 {line-height:8rem;}  
.line-hg-r-9 {line-height:9rem;}  
.tx-align-center {text-align:center;}  
.tx-align-end {text-align:end;}  
.tx-align-justify {text-align:justify;}  
.tx-align-left {text-align:left;}  
.tx-align-right {text-align:right;}  
.tx-align-start {text-align:start;}  
